.bet-amount-cont {
  color: yellow;
  font-size: 2.5vw;
  line-height: 3.5vw;
  margin: 1.5vw 0;
  position: relative;
  text-align: center
}

.total-amount {
  color: yellow;
  position: absolute;
  right: 2vw;
}

.bet-buttons {
  display: flex;
  justify-content: center;
}

.bet-button {
  background: #ddd;
  border-radius: .25vw;
  color: #000;
  cursor: pointer;
  font-size: 2vw;
  margin-top: 1.5vw;
}

.bet-button.first {
  margin-right: 2vw;
}

.bet-button.deal {
  position: absolute;
  font-size: 3.5vw;
  margin-top: 0;
  right: 2vw;
}

.bet-button:disabled {
  color: #999;
}

.denomination {
  border: 4px solid white;
  border-radius: 50%;
  background-color: yellow;
  color: red;
  cursor: pointer;
  display: inline-block;
  font-size: 2.5vw;
  height: 5vw;
  line-height: 5vw;
  margin-right: 2vw;
  text-align: center;
  width: 5vw;
}


@media (min-width: 133.33vh) {
  .bet-amount-cont {
    font-size: calc(2.5vh * 4 / 3);
    margin: calc(1.5vh * 4 / 3) 0;
  }

  .total-amount {
    right: calc(2vh * 4 / 3);
  }

  .bet-button {
    border-radius: calc(.25vh * 4 / 3);
    font-size: calc(2vh * 4 / 3);
    margin-top: calc(1.5vh * 4 / 3);
  }

  .bet-button.first {
    margin-right: calc(2vh * 4 / 3);
  }

  .bet-button.deal {
    font-size: calc(3.5vh * 4 / 3);
    margin-top: 0;
    right: calc(2vh * 4 / 3);
  }
}
