:host {
  bottom:0;
  background: blue;
  height: 75vw;
  left:0;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
  top:0;
  right:0;
  width: 100vw; 
}

@media (min-width: 133.33vh) {
  :host {
    height: 100vh;
    width: 133.33vh;
  }
}

.deal-cont {
  text-align: center;
}

.deal-button {
  font-size: 2.5vw;
  margin-top: 1.5vw;
  padding: 1vw;
}
