.card {
  background-repeat: no-repeat;
  background-size: contain;
  height: 24vw;
  margin-right: 2vw;
  position: relative;
  width: 16.528vw;
}

.held-banner {
  color: white;
  background-color: red;
  font-size: 4vw;
  height: 4vw;
  line-height: 4vw;
  opacity: .9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 16.528vw;
}

@media (min-width: 133.33vh) {
  .card {
    height: calc(24vh * 4 / 3);
    margin-right: calc(2vh * 4 / 3);
    position: relative;
    width: calc(16.528vh * 4 / 3);
  }

  .held-banner {
    font-size: calc(4vh * 4 / 3);
    height: calc(4vh * 4 / 3);
    line-height: calc(4vh * 4 / 3);
    width: calc(16.528vh * 4 / 3);
  }
}

.card.last {
  margin-right: 0;
}

.r-2.s-0 {
  background-image: url(../../assets/img/cards/2_of_spades.png);
}

.r-3.s-0 {
  background-image: url(../../assets/img/cards/3_of_spades.png);
}

.r-4.s-0 {
  background-image: url(../../assets/img/cards/4_of_spades.png);
}

.r-5.s-0 {
  background-image: url(../../assets/img/cards/5_of_spades.png);
}

.r-6.s-0 {
  background-image: url(../../assets/img/cards/6_of_spades.png);
}

.r-7.s-0 {
  background-image: url(../../assets/img/cards/7_of_spades.png);
}

.r-8.s-0 {
  background-image: url(../../assets/img/cards/8_of_spades.png);
}

.r-9.s-0 {
  background-image: url(../../assets/img/cards/9_of_spades.png);
}

.r-10.s-0 {
  background-image: url(../../assets/img/cards/10_of_spades.png);
}

.r-11.s-0 {
  background-image: url(../../assets/img/cards/jack_of_spades.png);
}

.r-12.s-0 {
  background-image: url(../../assets/img/cards/queen_of_spades.png);
}

.r-13.s-0 {
  background-image: url(../../assets/img/cards/king_of_spades.png);
}

.r-14.s-0 {
  background-image: url(../../assets/img/cards/ace_of_spades.png);
}

.r-2.s-1 {
  background-image: url(../../assets/img/cards/2_of_diamonds.png);
}

.r-3.s-1 {
  background-image: url(../../assets/img/cards/3_of_diamonds.png);
}

.r-4.s-1 {
  background-image: url(../../assets/img/cards/4_of_diamonds.png);
}

.r-5.s-1 {
  background-image: url(../../assets/img/cards/5_of_diamonds.png);
}

.r-6.s-1 {
  background-image: url(../../assets/img/cards/6_of_diamonds.png);
}

.r-7.s-1 {
  background-image: url(../../assets/img/cards/7_of_diamonds.png);
}

.r-8.s-1 {
  background-image: url(../../assets/img/cards/8_of_diamonds.png);
}

.r-9.s-1 {
  background-image: url(../../assets/img/cards/9_of_diamonds.png);
}

.r-10.s-1 {
  background-image: url(../../assets/img/cards/10_of_diamonds.png);
}

.r-11.s-1 {
  background-image: url(../../assets/img/cards/jack_of_diamonds.png);
}

.r-12.s-1 {
  background-image: url(../../assets/img/cards/queen_of_diamonds.png);
}

.r-13.s-1 {
  background-image: url(../../assets/img/cards/king_of_diamonds.png);
}

.r-14.s-1 {
  background-image: url(../../assets/img/cards/ace_of_diamonds.png);
}

.r-2.s-2 {
  background-image: url(../../assets/img/cards/2_of_hearts.png);
}

.r-3.s-2 {
  background-image: url(../../assets/img/cards/3_of_hearts.png);
}

.r-4.s-2 {
  background-image: url(../../assets/img/cards/4_of_hearts.png);
}

.r-5.s-2 {
  background-image: url(../../assets/img/cards/5_of_hearts.png);
}

.r-6.s-2 {
  background-image: url(../../assets/img/cards/6_of_hearts.png);
}

.r-7.s-2 {
  background-image: url(../../assets/img/cards/7_of_hearts.png);
}

.r-8.s-2 {
  background-image: url(../../assets/img/cards/8_of_hearts.png);
}

.r-9.s-2 {
  background-image: url(../../assets/img/cards/9_of_hearts.png);
}

.r-10.s-2 {
  background-image: url(../../assets/img/cards/10_of_hearts.png);
}

.r-11.s-2 {
  background-image: url(../../assets/img/cards/jack_of_hearts.png);
}

.r-12.s-2 {
  background-image: url(../../assets/img/cards/queen_of_hearts.png);
}

.r-13.s-2 {
  background-image: url(../../assets/img/cards/king_of_hearts.png);
}

.r-14.s-2 {
  background-image: url(../../assets/img/cards/ace_of_hearts.png);
}

.r-2.s-3 {
  background-image: url(../../assets/img/cards/2_of_clubs.png);
}

.r-3.s-3 {
  background-image: url(../../assets/img/cards/3_of_clubs.png);
}

.r-4.s-3 {
  background-image: url(../../assets/img/cards/4_of_clubs.png);
}

.r-5.s-3 {
  background-image: url(../../assets/img/cards/5_of_clubs.png);
}

.r-6.s-3 {
  background-image: url(../../assets/img/cards/6_of_clubs.png);
}

.r-7.s-3 {
  background-image: url(../../assets/img/cards/7_of_clubs.png);
}

.r-8.s-3 {
  background-image: url(../../assets/img/cards/8_of_clubs.png);
}

.r-9.s-3 {
  background-image: url(../../assets/img/cards/9_of_clubs.png);
}

.r-10.s-3 {
  background-image: url(../../assets/img/cards/10_of_clubs.png);
}

.r-11.s-3 {
  background-image: url(../../assets/img/cards/jack_of_clubs.png);
}

.r-12.s-3 {
  background-image: url(../../assets/img/cards/queen_of_clubs.png);
}

.r-13.s-3 {
  background-image: url(../../assets/img/cards/king_of_clubs.png);
}

.r-14.s-3 {
  background-image: url(../../assets/img/cards/ace_of_clubs.png);
}

.card.hidden {
  background-image: url(../../assets/img/cards/back.jpg);
}
