:host {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.button {
}

.button {
  background: #f1c40f;
  border: 0;
  border-bottom: .25vw solid #e2b607;
  border-radius: .5vw;
  -webkit-box-shadow: inset 0 -.25vw #e2b607;
  box-shadow: inset -.25vw #e2b607;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 2vw;
  margin: 0 5.2vw;
  padding: 1vw 2vw;
  position: relative;
  vertical-align: top;
  text-align: center;
  text-shadow: 0 .125vw .25vw rgba(0, 0, 0, 0.25);
}
.button:active {
  top: .125vw;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.held {
  background: red;
  border-bottom: .25vw solid #ff2222;
  -webkit-box-shadow: inset 0 -.25vw #ff2222;
  box-shadow: inset -0.25vw #ff2222;
}

@media (min-width: 133.33vh) {
  :host {
    margin-top: calc(2vh * 4 / 3);
  }

  .button {
    border-radius: calc(.5vh * 4 / 3);
    margin: 0 calc(5.2vh * 4 / 3);
    padding: calc(1vh * 4 / 3) calc(2vh * 4 / 3);
    font-size: calc(2vh * 4 / 3);
    text-shadow: 0 calc(.125vh * 4 / 3) calc(.25vh * 4 / 3) rgba(0, 0, 0, 0.25);
    border-bottom: calc(.25vh * 4 / 3) solid #e2b607;
    -webkit-box-shadow: inset 0 calc(-.25vh * 4 / 3) #e2b607;
    box-shadow: inset 0 calc(-.25vh * 4 / 3) #e2b607;
  }
  .button:active {
    top: (.125vh * 4 / 3);

  }

  .button.held {
    border-bottom: calc(.25vh * 4 / 3) solid #ff2222;
    -webkit-box-shadow: inset 0 calc(-.25vh * 4 / 3) #ff2222;
    box-shadow: inset 0 calc(-.25vh * 4 / 3) #ff2222;
  }
}
