:host {
  bottom:0;
  background: blue;
  height: 75vw;
  left:0;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
  top:0;
  right:0;
  width: 100vw; 
}

.optimal {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
  margin-top: 1vw;
  text-align: center;
}

.reveal {
  background: #ddd;
  border-radius: .25vw;
  color: #000;
  font-size: 1.5vw;
}

@media (min-width: 133.33vh) {
  :host {
    height: 100vh;
    width: 133.33vh;
  }

  .optimal {
    font-size: calc(2vh * 4 / 3);
    margin-top: calc(1vh * 4 / 3);
  }
}

