:host {
  display: flex;
  height: 20vw;
}

.col,
.row {
  box-sizing: border-box;
}

.row {
  color: yellow;
  font-family: Arial, sans-serif;
  font-size: 2vw;
  line-height: 2.3vw;
  margin: 0 .5vw;
}

.row.selected {
  color: red;
}

.payout .row {
  text-align: right;
}

.col {
  border: 1px solid yellow;
  height: 20.7vw;
}

.hand {
  width: 30vw;
}

.payout {
  width: 23.662vw;
}

@media (min-width: 133.33vh) {
  :host {
    height: calc(20vh * 4 / 3);
  }

  .col {
    height: calc(20.7vh * 4 / 3);
  }

  .row {
    font-size: calc(2vh * 4 / 3);
    line-height: calc(2.3vh * 4 / 3);
    margin: 0 calc(.5vh * 4 / 3);
  }

  .hand {
    width: calc(30vh * 4 / 3);
  }

  .payout {
    width: clac(23.662vh * 4 / 3);
  }
}
