:host {
  display: flex;
  height: 20vw;
}

.col,
.row {
  box-sizing: border-box;
}

.row {
  color: yellow;
  font-family: Arial, sans-serif;
  font-size: 2vw;
  line-height: 2.3vw;
  margin: 0 .5vw;
}

.row.selected {
  color: red;
}

.payout .row {
  text-align: right;
}

.col {
  border: 1px solid yellow;
  height: 20.7vw;
}

.hand {
  width: 30vw;
}

.payout {
  width: 23.662vw;
}
